html,body{
  margin: 0;
  padding: 0;
}
body{
  padding: 10px;
  background-color: #f2f3f5;
}
.layui-card-header{
  font-size: 20px;
  text-align: center;
  color: #393D49;
}

#prevImg{
  margin-top: 15px;
  max-width: 100%;
}